@page
@model indexModel
@{
    ViewData["Title"] = "Home page";
}

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Huninn&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Zen+Old+Mincho&display=swap" rel="stylesheet">

<div class="text-center">
    <img src="~/images/LogoThuDuc.png" alt="Cool Image" class="logo-img" />
</div>

<div class="text-center">
    <h1 class="display-4 welcome-text">Chào Mừng Đến Bình Nguyên Vô Tận</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
