@page
@model indexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <img src="~/images/LogoThuDuc.png" alt="Cool Image" class="logo-img" />
</div>

<div class="text-center">
    <h1 class="display-4 welcome-text">Chào Mừng Đến Bình Nguyên Vô Tận</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
